.none {
  background-color: #4a2328;
  background-color: #cb6f6f;
  background-color: #f4a23f;
  background-color: #fbcf4c;
  background-color: #a3cb6f;
  color: rgb(51, 51, 255); /*for links*/
}

html {
  background-color: #fef9e1;
}
